@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}
.input {
    @apply bg-light border-b-2 border-blue-dark text-black text-sm rounded-sm focus:border-blue-light block w-full p-2.5 outline-none
}
.button {
    @apply transition-all text-blue-light hover:text-white border-2 border-blue-light hover:bg-blue-light outline-none rounded-lg px-5 py-2.5 text-center
}
.project-card {
    @apply p-4
}
.ol{
   list-style-type: decimal; 
}
.ol > li::marker {
    @apply text-blue-light
}

.hero-section {
    background-image:
    linear-gradient(to top, rgba(61, 2, 125, 0.633),rgba(16, 3, 63, 0.73)),
    url("/hero-bg.png");
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
}

.section{
    @apply p-5 container mx-auto my-10 bg-white rounded-lg /*border-2 border-blue-light*/
}
.section .title {
    @apply text-[1.5rem] text-center font-bold my-3 text-blue-light;
}

.code {
    @apply bg-dark p-5 rounded-lg my-2 text-white
}
.code pre {
    text-wrap: balance;
    @apply font-mono;
}